parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: false
    checkExplicitMixed: true
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    rememberPossiblyImpureFunctionValues: false
    reportAlwaysTrueInLastCondition: true
    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon